<% include header %>
    <h1>增加学生信息</h1>
    <form method="post">
        学号：<input type="text" name="student_id">
        领取地点：<input type="text" name="name">
        发布时间：<input type="text" name="sdate">
        备注：<input type="text" name="remark" value="未领取">
        <button type="submit">确定</button>
    </form>
<% include footer %>